@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.border-gradient {
  border: 1px solid rgba(0, 0, 0, 0.032);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

:root {
  --spacing: 1rem;
  --font-family: theme('fontFamily.primary');
}

/* ----- CSS Reset start ------ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: theme('textColor.gray.700');
  font-family: theme('fontFamily.primary');
}

label {
  font-weight: 500;
  font-size: 14px;
  font-family: theme('fontFamily.primary');
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 100%;
  font-family: var(--font-secondary);
  text-rendering: optimizeSpeed;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  user-select: none;
  -moz-window-dragging: no-drag;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
  font: 'font-secondary';
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

div#root {
  min-height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  html {
    scroll-behavior: initial;
  }
}
/* ----- CSS Reset end ------ */

/* Custom Styling */

h1 {
  font-weight: bold;
  font-size: theme('fontSize.3xl'); /**24px**/
}

h2 {
  font-weight: bold;
  font-size: theme('fontSize.2xl'); /**18px**/
}

h3 {
  font-weight: bold;
  font-size: theme('fontSize.xl'); /**16px**/
}

h4 {
  font-weight: bold;
  font-size: theme('fontSize.lg'); /**14px**/
}
h5 {
  font-weight: bold;
}
h6 {
  font-weight: bold;
  font-size: theme('fontSize.sm'); /**10px**/
}
